/**** Variables  ****/

:root {
    --tr-main-dark: #363636;
    --tr-main-color: #2d64e6;
    --tr-custom-orange: #cd3d0f;

    --tr-main-pt-header: 110px;

    --tr-transition-short: 0.35s;
}

/**** Utilities  ****/

.tr-bg-dark {
    background-color: var(--tr-main-dark);
}

.tr-bg-main {
    background-color: var(--tr-main-color);
}

.tr-text-main {
    color: var(--tr-main-color);
}

.tr-bg-orange {
    background-color: var(--tr-custom-orange);
}

li>ul {
    padding: 0;
}

/**** Shared ****/

#jumbotron h3,
#it-takes-two-presentation h3 {
    font-size: 2.3rem;
}

/** Hovers **/

/* 
TODO capire come fare outline transition fluida
#jumbotron button {
    transition: outline 1s, border 1s;
    outline-color: var(--tr-custom-orange);
} */

button:not(nav button):hover {
    outline-offset: 2px;
}

.jumbo-bg-container button:hover {
    background-color: var(--tr-custom-orange);
    outline: solid var(--tr-custom-orange);
}




/**** Content ****/

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*#region Header */

header {
    z-index: 100;
}

.sony-name img {
    width: 105px;
}

nav ul>* {
    padding: 0 10px;
}

/* For new dropdown arrows */
.navbar-nav span {
    display: inline-block;
    margin-left: 5px;
    width: 10px;
}

nav .dropdown-menu.show {
    display: flex;
    flex-direction: column;
}

ul.dropdown-menu ul {
    list-style-type: none;
}

.support-links li::before {
    content: "\2022";
    color: var(--tr-main-color);
    display: inline-block;
    width: 1em;
}

/*** Nav arrows hover manager */
.nav-link.show img:first-child,
.navbar-nav a:hover span>img:first-child {
    display: none;
}

.nav-link.show img:nth-child(2),
.navbar-nav a:hover img:nth-child(2) {
    display: inline-block !important;
}

.nav-link.show,
.navbar-nav a:hover {
    color: black !important;
}

nav .dropdown-item:hover {
    background-color: transparent;
    box-shadow: 0px 0px 3px 3px rgb(0 0 0 / 20%);
}

/*#endregion Header  */

/*#region Main  */

/*#region Jumbotron  */
#jumbotron {
    padding-top: var(--tr-main-pt-header);
}

/* TODO creare -tr-bg-container e sostituire
    questo con #jumbotron>.-tr-bg-container 
    Stessa cosa per .it-takes-two */
.jumbo-bg-container {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
    min-height: 675px;
}

/*#endregion Jumbotron  */

/*#region Game Cards  */

#game-cards img {
    /* Attribuzione del position per poter
        usare transition in hover */
    position: relative;
    bottom: 0;

    transition: bottom var(--tr-transition-short);
}

#game-cards img:hover {
    outline: solid var(--tr-main-color) 2px;
    outline-offset: 2px;

    bottom: 15px;
}

/*#endregion Game Cards  */

/*#region PS5 Presentation  */

#ps5-presentation button:hover {
    background-color: var(--tr-main-color);
    outline: solid var(--tr-main-color);
}

#ps5-presentation .element-selection>* {
    transition: opacity var(--tr-transition-short);
}

#ps5-presentation .element-selection>*:hover {
    opacity: 1 !important;

    border-bottom: 2px solid var(--tr-main-color);
    margin-bottom: -2px;
}

/*#endregion PS5 Presentation  */

/*#region It Takes Two Presentation  */

#it-takes-two-presentation>.jumbo-bg-container {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/*#endregion It Takes Two Presentation  */

/*#endregion Main  */

/* DEBUGGER */