/**** Variables  ****/

:root {
    --tr-main-dark: #363636;
    --tr-main-color: #2d64e6;
    --tr-main-pt-header: 110px;
}

/**** Utilities  ****/

.tr-bg-dark {
    background-color: var(--tr-main-dark);
}

.tr-bg-main {
    background-color: var(--tr-main-color);
}

.tr-text-main {
    background-color: var(--tr-main-color);
}

li>ul {
    padding: 0;
}

/**** Content ****/

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*#region Header */
.sony-name img {
    width: 105px;
}

nav ul>* {
    padding: 0 10px;
}

/* For new dropdown arrows */
.navbar-nav span {
    display: inline-block;
    margin-left: 5px;
    width: 10px;
}

nav .dropdown-menu.show {
    display: flex;
    flex-direction: column;
}

ul.dropdown-menu ul {
    list-style-type: none;
}

.support-links li::before {
    content: "\2022";
    color: var(--tr-main-color);
    display: inline-block;
    width: 1em;
}

/*** Nav arrows hover manager */
.nav-link.show img:first-child,
.navbar-nav a:hover span>img:first-child {
    display: none;
}

.nav-link.show img:nth-child(2),
.navbar-nav a:hover img:nth-child(2) {
    display: inline-block !important;
}

.nav-link.show,
.navbar-nav a:hover {
    color: black !important;
}

nav .dropdown-item:hover {
    background-color: transparent;
    box-shadow: 0px 0px 3px 3px rgb(0 0 0 / 20%);
}

/*#endregion Header  */

/*#region Main  */
#jumbotron {
    padding-top: var(--tr-main-pt-header);
}

.jumbo-bg-container {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
}

/*#endregion Main  */

/* DEBUGGER */
.debug .jumbo-bg-container {
    min-height: 500px;
}