/**** Variables  ****/

:root {
    --tr-main-dark: #363636;
    --tr-main-color: #2d64e6;
    --tr-custom-orange: #cd3d0f;

    --tr-main-pt-header: 110px;
    --tr-border-small: 2px;

    --tr-transition-short: 0.35s;
}

/**** Utilities  ****/

.tr-bg-dark {
    background-color: var(--tr-main-dark);
}

.tr-bg-main {
    background-color: var(--tr-main-color);
}

.tr-text-main {
    color: var(--tr-main-color);
}

.tr-bg-orange {
    background-color: var(--tr-custom-orange);
}

li>ul {
    padding: 0;
}

/**** Shared ****/

/* TODO eliminazione -bg dal nome */
.jumbo-bg-container h3 {
    font-size: 2.3rem;
}

.jumbo-bg-container {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
    min-height: 675px;
}

.game-cards-container img {
    /* Attribuzione del position per poter
        usare transition in hover */
    position: relative;
    bottom: 0;

    transition: bottom var(--tr-transition-short), box-shadow var(--tr-transition-short);
}

/** Hovers **/

/* 
TODO capire come fare outline transition fluida
#jumbotron button {
    transition: outline 1s, border 1s;
    outline-color: var(--tr-custom-orange);
} */

button:not(nav button):hover {
    outline-offset: var(--tr-border-small);
}

.jumbo-bg-container button:hover {
    background-color: var(--tr-custom-orange);
    outline: solid var(--tr-custom-orange);
}

.game-cards-container img:hover {
    outline: solid var(--tr-border-small);
    outline-offset: var(--tr-border-small);

    bottom: 15px;
}

#ps5-presentation button:hover:not(.carousel-indicators>button),
#ps4-presentation button:hover {
    background-color: var(--tr-main-color);
    outline: solid var(--tr-main-color);
}


/**** Content ****/

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-top: var(--tr-main-pt-header);
}

/*#region Header */

header {
    z-index: 100;
}

.sony-name img {
    width: 105px;
}

nav ul>* {
    padding: 0 10px;
}

/* For new dropdown arrows */
.navbar-nav span {
    display: inline-block;
    margin-left: 5px;
    width: 10px;
}

nav .dropdown-menu.show {
    display: flex;
    flex-direction: column;
}

ul.dropdown-menu ul {
    list-style-type: none;
}

.support-links li::before {
    content: "\2022";
    color: var(--tr-main-color);
    display: inline-block;
    width: 1em;
}

/*** Nav arrows hover manager */
.nav-link.show img:first-child,
.navbar-nav a:hover span>img:first-child {
    display: none;
}

.nav-link.show img:nth-child(2),
.navbar-nav a:hover img:nth-child(2) {
    display: inline-block !important;
}

.nav-link.show,
.navbar-nav a:hover {
    color: black !important;
}

nav .dropdown-item:hover {
    background-color: transparent;
    box-shadow: 0px 0px 3px 3px rgb(0 0 0 / 20%);
}

/*#endregion Header  */

/*#region Main  */

/*#region Game Cards  */

#game-cards img:hover {
    outline-color: var(--tr-main-color);
}

/*#endregion Game Cards  */

/*#region PS5 Presentation  */

/* Carosello */

#ps5-presentation .carousel-inner .carousel-item:nth-child(3) {
    padding: 30px;
}

#ps5-presentation .carousel-indicators>button {
    transition: opacity var(--tr-transition-short), background-color var(--tr-transition-short);
}

#ps5-presentation .carousel-indicators>button:hover,
#ps5-presentation .carousel-indicators>button.active {
    opacity: 1;

    background-color: transparent;
    border-bottom: var(--tr-border-small) solid var(--tr-main-color);
}

#ps5-presentation .carousel-indicators {
    position: absolute;
    margin: 0;
}

#ps5-presentation .carousel-indicators>button {
    background-color: white;
    height: 250px;
    width: 41.66666667%;
    margin-right: calc(var(--bs-gutter-x) * .5);
    margin-left: calc(var(--bs-gutter-x) * .5);
}

/*#endregion PS5 Presentation  */

/*#region It Takes Two Presentation  */

#it-takes-two-presentation>.jumbo-bg-container {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/*#endregion It Takes Two Presentation  */

/*#region New Releases  */

#new-releases {
    background-color: #363636;
}

#new-releases img:hover {
    outline-color: transparent;
    box-shadow: 0 11px 10px 3px;
}

/*#endregion New Releases  */

/*#region PS4 Presentation  */

#ps4-presentation h3>span {
    padding-right: 5px;
}

#ps4-presentation h3>span::after {
    content: '\00AE';
    font-size: small;
    position: absolute
}

/* /*#endregion PS4 Presentation  */

/*#endregion Main  */

/* DEBUGGER */

.debug #ps5-presentation .carousel-indicators>button {
    background-color: #cd3d0f;
}